@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --background-1: #ffffff;
  --background-2: #f5f6f7;
  --background-4: #0d131a;
  --label-1: #0d131a;
  --label-2: #46494d;
  --label-3: #757b80;
  --on-color-1: #ffffff;
  --separator: rgba(13, 19, 26, 0.1);
  --study-light: #d5dcc9;
  --study-dark: #28380b;
}

.theme-dark {
  --background-1: rgba(23, 27, 31, 1);
  --background-2: #22272b;
  --background-4: #e8f0f7;
  --label-1: #e9f0f7;
  --label-2: #c7ced4;
  --label-3: #979ca1;
  --on-color-1: #0d131a;
  --separator: rgba(129, 136, 142, 0.12);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .study-bg {
    @apply bg-[url('img/bg.png')]  bg-no-repeat;
  }
}

@layer components {
  .text-style-title-1 {
    @apply antialiased;
    color: var(--label-1);
    text-align: center;

    /* title/1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
  }
  .text-style-paragraph-2 {
    @apply antialiased;
    color: var(--label-2);
    /* paragraph/2 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    letter-spacing: -0.3px;
  }
  .text-style-subtitle-2 {
    @apply antialiased;
    color: var(--label-3);
    text-align: center;

    /* subtitle/2 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.3px;
  }
  .button {
    @apply py-2 px-4 flex items-center justify-center rounded-3xl cursor-pointer whitespace-nowrap select-none;
    background: var(--background-4);
    color: var(--on-color-1);
    /* Floating */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05),
      0px 1px 4px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  }
}
